h2 {
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.more {
  background: #333;
  display: block;
  font-weight: bold;
  margin-top: 15px;
  padding: 12px 0;
  text-align: center;
  width: 500px;
}
.more.loading {
  background: #282828;
  color: #666;
}
#primary_col {
  float: left;
  width: 600px;
}
#secondary_col {
  float: right;
  width: 230px;
}
#secondary_col h2 {
  border-bottom: 1px solid #444;
  font-size: 13px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}
#secondary_col .project_list {
  font-size: 12px;
  margin-bottom: 32px;
}
#secondary_col .project_list li {
  position: relative;
  padding-bottom: 8px;
}
#secondary_col .project_list.current li {
  margin-left: -10px;
}
#secondary_col .project_list.all {
  display: none;
}
#secondary_col .project_list.current .archive {
  font-size: 14px;
  visibility: hidden;
}
#secondary_col .project_list.current li:hover .archive {
  visibility: visible;
}
