h2 {
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.more {
  background: #333;
  display: block;
  font-weight: bold;
  margin-top: 15px;
  padding: 12px 0;
  text-align: center;
  width: 500px;
}
.more.loading {
  background: #282828;
  color: #666;
}
#primary_col {
  float: left;
  width: 600px;
}
#secondary_col {
  float: right;
  font-size: 12px;
  width: 230px;
}
#secondary_col .project_filter {
  width: 214px;
  padding: 6px 8px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #2a2a2a;
  border-color: #191919;
}
#secondary_col .project_filter:-moz-placeholder {
  color: #666;
}
#secondary_col .project_filter::-webkit-input-placeholder {
  color: #666;
}
#secondary_col .project_filter:focus {
  color: #fff;
  background-color: #555;
  outline: none;
}
#secondary_col h2 {
  border-bottom: 1px solid #444;
  font-size: 13px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}
#secondary_col .project_list {
  font-size: 12px;
  margin-bottom: 32px;
}
#secondary_col #author_filter li {
  position: relative;
  padding-bottom: 8px;
}
#secondary_col #author_filter {
  font-size: 12px;
  margin-bottom: 32px;
}
.author_link[data-selected=true] {
  color: yellow;
}
#secondary_col .project_list li {
  position: relative;
  padding-bottom: 8px;
}
#secondary_col .project_list.current li {
  margin-left: -14px;
}
#secondary_col .project_list.current li a {
  margin-left: 2px;
}
#secondary_col #all_projects {
  display: none;
}
#secondary_col .project_list.current .archive {
  font-size: 14px;
  visibility: hidden;
}
#secondary_col .project_list.current li:hover .archive {
  visibility: visible;
}
