body {
  background: #1f1f1f;
  color: #ddd;
}
body, textarea {
  font-size: 14px;
}
.subnav {
  background: #333;
  margin-bottom: 30px;
  padding: 0 20px;
}
.subnav ul {
  margin-bottom: -1px;
}
.subnav a {
  float: left;
  font-weight: bold;
  padding: 12px 20px 6px;
}
.subnav h1 {
  padding: 20px 0 0;
}
.subnav .current {
  background: #1f1f1f;
}
#content, #header {
  width: 850px;
}
#content {
  margin: 0 auto;
  padding: 40px 0 60px;
}
#header_container {
  background-image: url(../../images/fake_brick.png);  
  border-bottom: 1px solid #333;
  padding: 25px 0;
}
#header {
  margin: 0 auto;
}
#header a {
  border-bottom: none;
  text-decoration: none;
}
#header .buttons {
  float: right;
  margin-top: 3px;
}
#header .buttons a {
  margin-left: 8px;
}
#header .buttons img:hover {
  opacity: .85;
}
#header .nav,
#header #logo {
  float: left;
  margin-right: 15px;
}
#header #logo:active {
  -webkit-transform:translateY(1px);
  -moz-transform:translateY(1px);
}
#header .nav {
  font-size: 12px;
  line-height: 12px;
  margin: 10px 0;
  padding: 5px 0 3px 3px;
}
#header .nav a {
  background-repeat: no-repeat;
  margin-right: 10px;
  padding: 2px 0 2px 18px;
}
#header .nav a#logout {
  padding-left: 1px;
}
#header .nav a.home {
  background-image: url(../../images/home.png);
}
#header .nav a.settings {
  background-image: url(../../images/settings.png);
}
#header .nav a:hover.hoverable {
  background-position: 0 -22px;
}
a#logo {
  background-image: url(../../images/logo-new.png);
  background-position: top left;
  background-repeat: no-repeat;
  height: 38px;
}
a:hover#logo {
  background-position: 0 -38px;
}
a#logo img {
  visibility: hidden;
}
#notice {
  background: #e8d34e;
  background: -moz-linear-gradient(top, #fdf578, #e8d34e);
  background: -webkit-linear-gradient(top, #fdf578, #e8d34e);
  color: #333;
  font-weight: bold;
  padding: 14px 0;
  position: relative;
  text-align: center;
  width: 100%;
}
#notice .hide_link {
  background: url(../../images/flash-hide.png) no-repeat;
  display: block;
  float: right;
  height: 30px;
  position: absolute;
  right: 10px;
  text-indent: -9999px;
  top: 9px;
  width: 30px;
}
#tabbed_content {
  margin: 0 20px;
}
