<div id="fb-root"></div>
<script src='/javascripts/jquery.cookie.js'></script>
<script>
  var redirectUser = function(response) {
    window.location = '<%= escape_javascript(params[:next_url] || '/') %>';
  };

  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= FacebookConfig.app_id %>",
      status: true,
      cookie: true,
      xfbml: true
    });

    FB.Event.subscribe('auth.login', redirectUser);
    FB.Event.subscribe('auth.logout', redirectUser);
  };

  (function() {
    var e = document.createElement("script");
    e.async = true;
    e.src = window.location.protocol + "//connect.facebook.net/en_US/all.js";
    document.getElementById("fb-root").appendChild(e);
  }());
</script>
