<div id="fb-root"></div>
<script src='/javascripts/jquery.cookie.js'></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= FacebookConfig.app_id %>",
      status: true,
      cookie: true,
      xfbml: true
    });

    FB.Event.subscribe('auth.sessionChange', function(response) {
      window.location.reload();
    });

    FB.getLoginStatus(function(response) {
      $(document).trigger('fbconnect.update', [response]);
    });

    FB.getLoginStatus(function(response) {
      if (response.session) {
        var query = FB.Data.query(
          'select name from user where uid={0}', FB._session.uid
        );

        query.wait(function(rows) {
          jQuery.cookie("fbname", rows[0].name, {path: '/'});
        });
      } else {
          jQuery.cookie("fbname", null, {path: '/'});
      }
    });
  };

  (function() {
    var e = document.createElement("script");
    e.async = true;
    e.src = window.location.protocol + "//connect.facebook.net/en_US/all.js";
    document.getElementById("fb-root").appendChild(e);
  }());
</script>
