<div class="subnav debossed rounded">
  <h1><%= header %></h1>
  <% if local_assigns[:links] %>
    <ul class="clearfix">
      <% links.each do |name, url| %>
        <li>
          <%= link_to name, url, :class => ("current" if current_page?(url)) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
