table {
  border-collapse: collapse;
  font-size: 13px;
  margin-bottom: 30px;
  width: 100%;
}
th {
  text-align: left;
}
tr:nth-child(even) {
  background: #292929;
}
td {
  padding: 10px 10px 9px;
}
td.actions {
  text-align: right;
}
td.actions a {
  color: #666;
}
th {
  padding: 10px 0;
}
.add_user_row td {
  padding-top: 20px;
  text-align: center;
}
.divider {
  color: #666;
  margin: 0 4px;
}
#container {
  padding: 0 20px;
}
#container form {
  display: inline;
}
#new_user_form input {
  margin-top: 2px;
}
#new_user_form li {
  float: left;
  margin-right: 10px;
}
#new_user_form #user_name {
  width: 230px;
}
#new_user_form #user_facebook_uid {
  width: 100px;
}