.cancel_bar {
  margin-top: 40px;
	text-align: center;
}
.form_holder {
  height: 500px;
  padding: 0 80px;
}
.dragging .form_holder {
  background: #111;
}
.progress-bar {
  display: none;
  margin: 232px auto 0;
}
.instructions {
  background: url('../../images/upload-files.png') no-repeat center;
  height: 500px;
}
.submitted * {
  display: none;
}
.submitted .progress-bar {
  display: block;
}
