.cancel_bar {
  margin-top: 40px;
	text-align: center;
}
.form_holder {
  padding: 180px 80px;
}
.dragging .form_holder {
  background: #111;
}
.loading {
  display: none;
  height: 22px;
  line-height: 22px;
  background: url('../../images/progressbar.gif') repeat-x;
}
.instructions {
  background: url('../../images/upload-files.png') no-repeat center top;
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
  padding-top: 120px;
  text-align: center;
}
.submitted * {
  display: none;
}
.submitted .loading {
  display: block;
}
