<li>
  <%= f.radio_button :feeling, feeling, :id => "comment_feeling_#{feeling}" %>
  <label title="<%= feeling.titleize %>" for="comment_feeling_<%= feeling %>">
    <%= image_tag "feelings/#{feeling}.gif" %>
  </label>
</li>
